<div class="container">
  <h2>Edit</h2>

  <%= simple_form_for(@user) do |f| %>
    <%= f.error_notification %>

    <div class="individual-data">
      <h3>Individual data</h3>
      <div class="form-inputs">
        <%= f.input :rfc,
                    label: "RFC",
                    autofocus: true ,
                    required: true %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :phone_number %>
        <%= f.input :email, required: true %>
      </div>
    </div>

    <div class="company-data">
      <h3>Administrative data</h3>
      <div class="form-inputs">
      <%= f.input :hire_date,
                  required: true %>
      <%= f.input :job %>
      <%= f.input :salary %>
      <%= f.input :is_manager %>
      <%= f.input :manager_id,
                  collection: User.where(is_manager: true).map { |user| ["#{user.first_name} #{user.last_name}", user.id] } %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update" %>
    </div>
  <% end %>
  <br/>
  <%= link_to "Back", :back %>
</div>
