<div class="container">
  <h2>Edit</h2>

  <%= simple_form_for(@user) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :rfc,
                  label: "RFC",
                  autofocus: true ,
                  required: true %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :phone_number %>
      <%= f.input :email, required: true %>



      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update" %>
    </div>
  <% end %>
  <br/>
  <%= link_to "Back", :back %>
</div>
