<div class="container">
  <h2>Data of <%= @user.first_name %> <%= @user.last_name %></h2>
  <div class="individual-data">
    <p><strong>RFC:</strong> <%= @user.rfc.upcase %></p>
    <p><strong>First name:</strong> <%= @user.first_name.capitalize %></p>
    <p><strong>Last name:</strong> <%= @user.last_name.capitalize %></p>
    <p><strong>Phone number:</strong> <%= @user.phone_number %></p>
    <p><strong>Email:</strong> <%= @user.email %></p>
  </div>

  <div class="company-data">
    <h3>His relation to the company:</h3>
    <p><strong>Hired on:</strong> <%= @user.hire_date.strftime("%b %d, %Y") %></p>
    <p><strong>Job:</strong> <%= @user.job.capitalize %></p>
    <p><strong>Salary:</strong> MXN <%= number_with_delimiter(@user.salary, delimiter: ',') %></p>
    <p><strong>Is a manager?</strong> <%= @user.is_manager ? "Yes" : "No" %></p>
  </div>
  <br/>
  <div>
    <p><%= link_to 'Edit Team Member', edit_user_path(@user), class: "btn btn-primary" %></p>
  </div>
  <%= link_to "Back", :back %>
</div>
