<div class="container">
  <h2><%= "Create a report for #{@user.first_name} #{@user.last_name}" %></h2>

  <%= simple_form_for(@report) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs checked-in">
      <%= f.input :checked_in,
                  label: "Checked In",
                  autofocus: true ,
                  required: true %>
    </div>

    <div class="form-inputs checked-in">
      <%= f.input :checked_out,
                  label: "Checked Out",
                  required: true %>
    </div>

    <div class="form-actions">
      <% if policy(@report).create? %>
        <%= f.button :submit, "Update" %>
      <% end %>
    </div>
  <% end %>
  <br/>
  <%= link_to "Back", :back %>
</div>
